<div class="container">
    <div class="row">
        <div class="col col-md-8">

            <h2>Talk Proposal</h2>
            <div id="single-proposal">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{proposal.title}}</h3>
                    </div>
                    <div class="panel-body">
                        {{proposal.summary}}
                    </div>
                    <div class="panel-footer">
                        <a class="btn btn-default delete-proposal" href="#" role="button" data-title="{{proposal.title}}">Delete</a>
                        <a class="btn btn-default" href="#" role="button">Edit</a>
                    </div>
                </div>

                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comments</h3>
                    </div>
                    <div class="panel-body" id="comments-container">
                        {{#each proposal.comments}}
                        <div class="row">
                            <div class="col col-sm-2">
                                <p>{{this.name}}</p>
                            </div>
                            <div class="col col-sm-10">
                                <div>{{this.comment}}</div>
                            </div>
                        </div>
                        {{/each}}

                    </div>

                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post" id="add-form" name="comment">
                            <div class="form-group">
                                <label for="comment-name" class="col-sm-2 control-label">Name:</label>
                                <div class="col-sm-10">
                                    <input type="text" placeholder="Enter your name" id="comment-name" name="comment-name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="new-comment" class="col-sm-2 control-label">Comment:</label>
                                <div class="col-sm-10">
                                    <textarea cols="90" rows="10" id="new-comment" name="new-comment" class="form-control"></textarea>
                                </div>
                            </div>
                            <input type="hidden" id="slug" name="slug" value="{{proposal.slug}}" class="form-control" />
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" value="Add Comment" class="btn btn-default" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <div class="col col-md-4">
            <h2>About</h2>
            <p>The Skill-Sharing website is a project at the end of the <a href="http://eloquentjavascript.net/21_skillsharing.html">Eloquent Javascript</a> book.</p>
            <p>This page implements all the required features of the website, but uses the <a href="https://expressjs.com/">Express framework</a> and various other Node tools, rather than the custom code provided in the book.</p>
            <p>Feature description:</p>
            <ul>
                <li>Holds a list of Talk proposals along with Comments associated with each proposal.</li>
                <li>Allows user to add, update and delete proposals and comments.</li>
                <li>Updates pages in real-time<sup>*</sup> whenever any data is updated (using <a href="https://en.wikipedia.org/wiki/Push_technology#Long_polling">long polling</a>).</li>
            </ul>
            <sup>*</sup> open pages side by side to see this in action.
        </div>

    </div>
</div>
